 <VirtualHost *:80>
     DocumentRoot "/var/www/{{ nextcloud_domain_name }}"
     ServerName {{ nextcloud_domain_name }}

     <Directory "/var/www/{{ nextcloud_domain_name }}/">
         Options MultiViews FollowSymlinks
         AllowOverride All
         Order allow,deny
         Allow from all
    </Directory>

    TransferLog /var/log/apache2/{{ nextcloud_domain_name }}_access.log
    ErrorLog /var/log/apache2/{{ nextcloud_domain_name }}_error.log

 </VirtualHost>
