# Lines configured by zsh-newuser-install

# source installed zsh plugins
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.plugin.zsh
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.plugin.zsh

# source manually installed gnzh theme
source ~/.zsh-themes/gnzh/gnzh.zsh-theme

HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
bindkey -v
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/jogi/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall
#
# Prompt ZSH
autoload -Uz promptinit
promptinit

alias ls='ls --color=auto'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias maintenance='bash /home/jogi/programming/github/arch_install/maintenance/maintenance.sh'
